# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
*.tsbuildinfo
tsconfig.tsbuildinfo
.vscode\settings.json

# System Files
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment Variables (Safety Check)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# AI Context
.gemini/
